* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.analog-clock {
  width: 350px;
  height: 350px;
  margin-bottom: 1rem;
  border: 20px solid white;
  border-radius: 50%;
  box-shadow: 
    0 0 0 4px rgba(0, 0, 0, 0.1),
    inset 0 0 3px #efefef,
    inset 0 0 10px black,
    0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  width: 100%;
  height: 100%;
  position: relative;
}

.hands {
  height: 6px;
  width: calc(50% - 1rem);
  background: black;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform-origin: right;
}

.digital-clock {
  font-family: 'Inconsolata', monospace;;
  font-size: 72px;
}